html, body , .container {
    height: 100%;
    margin: 0;
  }


#page-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    /* align-items: stretch; */
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
#left-box {
    display: flex;
    background-color: lemonchiffon;
    padding: 145px;
    margin: 0px;
    align-items: stretch;
    flex-direction: column;
    width: 15vw;
    
}
#player-1 {
    font-size: 100px;
}
#player-2 {
    font-size: 100px;
}
#right-box {
    display: flex;
    background-color: lemonchiffon;
    padding: 145px;
    margin: 0px;
    align-items: stretch;
    flex-direction: column;
    width: 15vw;

}
#game-box {
    display: flex;
    background-color: lightcyan;
    width: 60vw;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 340px;
    width: 340px;
    margin-top: 100px;
    border-collapse: collapse;
}
.grid-section {
    
    border: 3px solid black;
    height: 110px;
    width: 110px;
    border-collapse: collapse;
}
#section-1, #section-2, #section-3 {
    border-top: none;
}
#section-1, #section-4, #section-7 {
    border-left: none;
}
#section-7, #section-8, #section-9 {
    border-bottom: none;
}
#section-3, #section-6, #section-9 {
    border-right: none;
}
#section-4, #section-5, #section-6 {
    margin-top: 0px;
    
}